body {
	font-family: helvetica, sans-serif;
}

body, html {
	margin: 0px;
}

#frame {
	display: grid;
	grid-template-columns: 1fr 6fr;
}

#header		{ grid-column: 1/3; grid-row: 1/2; }
#menu		{ grid-column: 1/2; grid-row: 2/3; }
#container	{ grid-column: 2/3; grid-row: 2/3; }

#menu {
	border-right: 1px solid black;
}
#header {
	background-color: #80cbc4;
	color: #ffffff;
	height: 100px;
	padding: 8px 16px;
	border-bottom: 1px solid black;
}

#logo {
	float: left;
	max-height: 100%;
}

#headerText {
	display: block;
	float: left;
}

#headerText h1 {
	margin: 27px 0px 0px 0px;
}

#headerText p {
	margin: 0px
}

#container {
	padding: 0px 10px 10px 10px;
	border-bottom: 1px solid black;
}

#content {
	border-radius: 5px;
	background-color: #e0f2f1;
	padding: 20px;
}

#navbar {
	list-style-type: none;
	background-color: #e0f2f1;
	height: 100%;
	overflow: auto;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid black;
}

#navbar li a {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
	cursor: pointer;
}

#navbar li a:hover:not(.currentPage) {
	background-color: #4db6ac;
	color: white;
}

#navbar li a.currentPage {
	background-color: #009688;
	color: white;
}

#menuIcon {
	display: none;
}

#menu {
	height: 100%
}